* {
    box-sizing: border-box;
    font-family: 'Roboto Slab', serif;
}

body {
    margin: 0;
    padding: 0;
    color: white;
}

a {
    text-decoration: none;
    color: white;
}

.background-img {
    background-image: url("../images/paper.jpg");    
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    filter: blur(4px);
    -webkit-filter: blur(4px);
}

.container {
    position: fixed;
    width: 75%;
    top: 10px;
    left: 10%;
    bottom: 10px;
    margin: 0 auto;
    overflow: scroll;
}

.article_grid {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(auto-fit, 500px);
    /* max-height: 100%; */
}

.cell {
    width: 100%;
    z-index: 10;    
}

.art_img {
    height: auto;
    width: auto;    
    max-width: 100%;
    max-height: 200px;
}

footer {
    z-index: 0;
    position: fixed;
    bottom: 10px;
    color: white;
}