<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <!-- <meta http-equiv="X-UA-Compatible" content="IE=edge"> -->
    <title>Your News</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" 
          href="{{ url_for('static', filename='css/news.css',v=0.1222232233324143) }}" />
    <!-- <script src="main.js"></script> -->
</head>
<body>
    <div class="background-img"></div>
    <div class="container">
        <h1>{{provider}}</h1>
        <div class="article_grid">        
        {% if news %}
            {% for article in news["articles"] %}
                    <div class="cell">
                        <img src="{{article.urlToImage}}" class="art_img">
                        <a href="{{article.url}}"><h2>{{article.title}}</h2></a> 
                        <p>{{article.description}}</p>
                    </div>
            {% endfor %}
        {% endif %}
        </div>    
    </div>
</body>
<footer>
    <a href="newsapi.org">powered by NewsAPI</a>
</footer>
</html>